@charset "utf-8";


p{
  margin:0;padding:0;
}

body{
  background-color: #faf5f5;
  /* margin: 5vh; */
  margin: 0;
  padding: 0;
}


.header {
  padding-top: 4vw;
  width: 100%;
  font-size: 50px;
  text-align:center;
  color:#7673ff;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:900;
  font-style: normal;
  text-shadow: 3.536px 3.536px 20px rgba(92, 82, 212, 0.15),
  2.828px 2.828px 5px rgba(43, 39, 89, 0.07),
  -4.096px -2.868px 20px rgba(255, 255, 255, 0.25);
}

.artist {
  padding-top: 4vw;
  padding-left: 10%;
  font-size:min(50px, 12vw);
  margin: 0 auto;
  color:#A9A4F0;  
  font-family: 'Noto Sans KR' , sans-serif;
  font-weight: 900;
  font-style: normal;
}

#A1 {
  font-size:min(30px, 7vw); 
  font-weight: 700;
}

.art-container {
  padding: 10%;
  padding-left: 11%;
  padding-top: 2vh;
  font-size:45px;
  margin: 0 auto;
  text-align:center;

  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-template-rows: repeat(auto-fit, 376px);
  gap: 40px;

  justify-content: space-between;
}


#art-box {
  background-color:#f7f7fa;
  box-shadow: 3.536px 3.536px 10px 0px rgba(2, 7, 24, 0.02),
  10.607px 10.607px 20px 0px rgba(79, 110, 243, 0.05),
  -6.364px -6.364px 30px 0px rgba(255, 255, 255, 0.72);
  border-radius: 10px;
}

#title {
  color:#A9A4F0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: 25px;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  text-shadow: 0px 0px 80px rgba(129, 119, 255, 0.5);

  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#img {
  width:300px;
  height:300px;
  border-radius: 10px;

  box-shadow: -6.364px -6.364px 30px 0px rgba(255, 255, 255, 0.004),10.607px 10.607px 20px 0px rgba(79, 110, 243, 0.05),3.536px 3.536px 10px 0px rgba(2, 7, 24, 0.02);
}

#img-padding {
  padding: 10px 20px 10px 20px;
}